{% extends 'base.html' %}

{% block content %}
<div>
    <div class="auth-container">
        <h2>Сброс пароля</h2>
        <div class="success-message" style="color: gray;">
            <p>Мы отправили вам инструкции по установке пароля, если учетная запись с указанным email существует. Вы
                должны получить их в ближайшее время.</p>

            <p>Если вы не получили письмо, убедитесь, что вы ввели адрес, с которым зарегистрировались, и проверьте
                папку спама.</p>

        </div>
        <div class="extra-container">
            <a href="#" onclick="window.history.back(); return false;">
                <button class="create-btn">Назад</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
