{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="auth-container">
        <h2>Пароль успешно сброшен</h2>
        <div class="success-message" style="color: white;">
            <p>Ваш пароль был успешно сброшен.</p>
            <p>Теперь вы можете войти в систему с новым паролем.</p>
        </div>
        <div class="form-group submit-container">
            <a href="{% url 'accounts:login' %}">
                <button class="submit-btn">Войти в систему</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}